@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bree+Serif&family=Lalezar&family=Libre+Franklin&family=Oxygen&family=Pacifico&display=swap');
:root {
    --body-color: #363535;
    --white: #ffffff;
    --close-button: #e9ede8;
    --margin-links: 15px 0;
    --transition-close-button: 0.3s;
    --transition-sidebar: 0.2s;
    --sidebar-color: #202020;
    --sidebar-hover-grey: #c7c2c2;
    --icons-color: 	gold;
    --icons-hover: rgb(227, 194, 9);
    --move-history-text: rgb(84, 83, 83);
    --scrollbar-color: rgb(88, 87, 87);
    --scrollbar-hover: rgb(137, 137, 137);
    --moves-list-color: rgb(207, 198, 198);
}

* {
    margin:0;
    padding: 0;
}
body {
    background-color: var(--body-color);
    font-family: 'Alegreya', serif;
    height: 100vh;
}

.board {
    width: 45%;
    margin-top: 15px;
    
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* hamburger element */

.hamburger {
    cursor: pointer;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 0px;
    left: 25px;
}

.hamburger:hover {
    color: var(--sidebar-hover-grey);
    transition: var(--transition-close-button);
}
/* Nav sidebar */
.sidebar {
    background-color: var(--sidebar-color);
    display: none;
    width: 173px;
    height: 100vh;
    position: absolute;
    left: 0px;
}

.button {
    color: var(--close-button);
    cursor: auto;
    display: flex;
    margin-left: 25px;
}

.logo {
    color: gold;
    font-size: 45px;
}

.chess-ai {
    font-family: 'Pacifico', cursive;
    user-select: none;
    color: var(--white);
    position: absolute;
    top: 4%;
    left: 37%;
    font-size: 20px;
}
.close-button {
    cursor: pointer;
    font-size: 40px;
    margin-top: -18px;
    position: absolute;
    right: 0px;
}

.close-button:hover {
    color: var(--sidebar-hover-grey);
    transition: var(--transition-close-button);
}
.links {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 15px 10px;
}

.Play {
    color: var(--white);
    text-decoration: none;
    margin: var(--margin-links);
}

.Play i {
    color: var(--icons-color);
}

.Play:hover {
    color:var(--sidebar-hover-grey);
    transition: var(--transition-sidebar);
}

.About {
    color: var(--white);
    text-decoration: none;
    margin: var(--margin-links);
}

.About i {
    color: var(--icons-color);
}

.About:hover {
    color: var(--sidebar-hover-grey);
    transition: var(--transition-sidebar);
}

.Settings {
    color: var(--white);
    text-decoration: none;
    margin: var(--margin-links);
}

.Settings i {
    color: var(--icons-color);
}

.Settings:hover {
    color: var(--sidebar-hover-grey);
    transition: var(--transition-sidebar);
}

/* pgn download at the bottom of sidebar */

.download-pgn {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.download-pgn i {
    color: var(--icons-color);
}

.download-pgn:hover {
    color: var(--sidebar-hover-grey);
    transition: var(--transition-sidebar);
}

/* Now for the move-history-container */

.move-history-container {
    background-color: var(--sidebar-color);
    color: var(--icons-color);
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 25vw;
    position: absolute;
    right: 17px;
    border-radius: 20px;
}

.move-history-text {
    position: absolute;
    background-color: var(--move-history-text);
    font-size: 20px;
    width: 25vw;
    border-radius: 15px;
    user-select: none;
}

.move-history-text span {
    position: relative;
    left: 30%;
}

.moves-list {
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 7%;
    left: 7%;
    height: 70vh;
    width: 24vw;
    overflow: auto;
}

/* Move history new appendages */
.move {
    color: var(--sidebar-hover-grey);
    font-size: 17px;
    height: 30px;
    position: relative;
    width: 100%;
    display: flex;
}

.move-history-bottom-container {
    bottom: 10px;
    right: 15px;
    height: 11vh;
    width: 23vw;
    position: absolute;
}

.resign-logo {
    position: absolute;
    background-color: #c7c2c2;
    bottom: 4px;
    left: 66px;
    color: var(--sidebar-color);
    font-size: 40px;
    cursor: pointer;
    width: 64px;
    border-radius: 10px;
}

.resign-logo i {
    font-size: 32px;
    margin: 0 13px;
}

.resign-logo:hover {
    color: var(--body-color);
}

.flip-board-logo {
    position: absolute;
    background-color: #c7c2c2;
    bottom: 4px;
    right: 5vw;
    color: var(--sidebar-color);
    font-size: 40px;
    cursor: pointer;
    width: 64px;
    border-radius: 10px;
}

.flip-board-logo i {
    font-size: 32px;
    margin: 0 13px;
}

.flip-board-logo:hover {
    color: var(--body-color);
}
.white {
    line-height: 40px;
    width: 60px;
    position: relative;
    margin: 0 36px;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
    transition: 0.3s;
  }

.black {
    line-height: 40px;
    width: 60px;
    position: relative;
    margin: 0 36px;
}

.move-number {
    position:relative;
    width:3vw;
}

/* Keeping game scores */

.game-score {
    display: none;
    position: absolute;
    top: 10px;
    left: 17vw;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 24px;
    width: 10%;
    height: 100vh;
}

.AI-score {
    position: absolute;
    bottom: 11vh;
    left: 2vw;
}

.you-score {
    left: 2vw;
    position: absolute;
}
/* Modals for winner/stalemate */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 22vw;
    height: 50vh;
    background-color: bisque;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%), 0 11px 20px 0 rgb(0 0 0 / 32%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

.optional {
    font-size: 18px;
    color: rgb(59, 58, 58);
    position: absolute;
    bottom: 16%;
    right: 4vw;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: rgb(59, 58, 58);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 24px;
    top: 4px;
    height: 30px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    padding: 11px 16px;
    height: 48vh;
}

.you-ai {
    font-size: 34px;
    color: rgb(59, 58, 58);
    bottom: 23vh;
    position: absolute;
    left: 76px;
}

.you-score {
    font-size: 37px;
    color: rgb(59, 58, 58);
    position: absolute;
    bottom: 29%;
    width: 21px;
    height: 50px;
    left: 6vw;
}

.ai-score {
    font-size: 37px;
    color: rgb(59, 58, 58);
    position: absolute;
    bottom: 29%;
    width: 21px;
    height: 50px;
    left: 14vw;
}

.game-over-text {
    font-size: 34px;
    color: rgb(59, 58, 58);
    bottom: 34vh;
    position: absolute;
    left: 76px;
}

/* Modal for playing */

.play-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.play-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 22vw;
    height: 58vh;
    background-color: bisque;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 20%), 0 11px 20px 0 rgb(0 0 0 / 32%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}
/* play-modal close button */
.play-close {
    color: rgb(59, 58, 58);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 24px;
    top: 4px;
    height: 30px;
}

.play-close:hover,
.play-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.color-select {
    color: var(--sidebar-color);
    font-family: 'Pacifico', cursive;
    bottom: 45vh;
    position: absolute;
    font-size: 40px;
    left: 54px;
}

.color-select-buttons {
    bottom: 37vh;
    position: absolute;
    left: 42px;
}

.button {
    background-color: var(--body-color);
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.depth-button {
    background-color: var(--body-color);
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover,
.depth-button:hover,
.new-game-btn:hover {
    background-color: var(--sidebar-color);
    transition: 400ms;
}

.depth-btns {
    bottom: 17vh;
    position: absolute;
    left: 20px;
}

.depth {
    color: var(--sidebar-color);
    font-family: 'Pacifico', cursive;
    bottom: 25vh;
    position: absolute;
    font-size: 40px;
    left: 54px;
}

/* New Game button inside playModal */

.new-game {
    bottom: 10px;
    position: absolute;
    left: 74px;
}

.new-game-btn {
    background-color: var(--body-color);
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0px 15px;
    cursor: pointer;
    border-radius: 10px;
}